

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Pacifico:wght@400&display=swap');


:root {
    --bgDark: #454565;
    --bgLight: #cfd4de;
    --divider: #dfe4ee;
    --canvas: #ffffff;
    --accent: #20b2aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html, body {
    overflow: hidden;
  
}
.divider {
    height: 100vh;
    width: 1px;
    background: var(--bgLight);
}
.flex {
    display: flex;
    justify-content: space-between;
}

.Container {
    
}
.left_header_style {
    background-color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
   
    width: 450px;
    margin-left: -12px;
    margin-bottom: 5px;
    
}

/*   RIGHT SIDE DIV STYLE */



.right_side_div {
  background-color: #ffffff;

}

.right_side_tab_style {
  background-color: var(--bgLight)
}
.right_side_user_icon {
  background-color:var(--bgLight)
}
.added_product {
 
  margin: 20px px;

}
.flex-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: black;
}
.flex-container > div {
  flex-wrap: wrap;

}

.added_product_container {
  display: flex;
  justify-content: space-between;
 background-color: #ffffff;
  width: 100%;
  height: 50px;
  position: relative;
  top: 2px;
  border-bottom: 1px solid rgb(230, 228, 228);
  padding: 0 5px;
 
}
.product_image {
  width: 40px;
  height: 40px;
  position: absolute;
 
 
 
}
.product_image img {
  width: 100%;
  height: 100%;
  object-fit:fill;
  border-radius: px;
  margin-top: 2px;

}
.product_title {
  margin-left: 2.9rem;
  line-height: 50px;
}
.product_rate p {
  position: absolute;
  left: 33%;

 line-height: 50px;
}
.product_quantity {
  position: absolute;
  left: 59%;
  line-height: 50px;
  margin: 0 6px;
}
.product_quantity span:nth-child(1) {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 50%;
 
  background-color: var(--divider);
 
}
.product_quantity span:nth-child(3) {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 50%;
text-align: center;
  background-color: var(--divider);
 
}
.product_quantity span:nth-child(2) {
  color: black;
  padding: 0 10px;

}
.product_quantity span i {
  color: blue;
}

.product_amount  p {
  line-height: 50px;
  padding-right: 15px;
}
.product_header > div {
  font-weight: bold;
}
.product_header > div:nth-child(4) {

  padding-right: 10px;
}
.product_header > div:nth-child(1) {
  
  padding-left: 10px;
}


/*   RIGHT SIDE FOOOTER FOR CHECKOUT    */

.right_footer {

  margin-top: 0.2rem;
  display: flex;
 height: 80px;

 
}
.right_footer .checkout_footer_style {
display: flex;
position: relative;
left: 10px;
 
}
.right_footer .checkout_footer_style .right_side_footer_icon i {
  position: absolute;
  line-height: 80px;
  top: 10px;
  color: #000;
  font-weight: bold;
}
.user_title_mobile p {
  position: absolute;
  line-height: 80px;
  left: 20px;
  font-weight: bold;
}
.user_title_mobile span {
  position: absolute;
  line-height: 80px;
  left: 20px;
  top: 22px;
  
}
.right_footer .checkout_price_items {
  display: flex;
  position: relative;
  left: 70px;
   
} 
.right_footer .checkout_price_items .checkout_icon_cart i {
  position: absolute;
  line-height: 80px;
  top: 10px;
  color: #000;
  font-weight: bold;
}
.checkout_footer_price_items p {
  position: absolute;
  line-height: 80px;
  left: 24px;
  font-weight: bold;
}
.checkout_footer_price_items span {
  position: absolute;
  line-height: 80px;
  left: 24px;
  top: 20px;
  
}

.checkout_button_clear{

  margin: 0 5px;
 
  
}
.checkout_button_clear button {
 width: 100%;
 padding: 5px;
 border: none;
 outline: none;
 color: var(--accent);
 position: relative;
  top: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid var(--accent);
  border-radius: 4px;
}
.checkout_button_clear button:hover {
  background-color: var(--accent);
  color: #ffffff;
}


.checkout_button_checkout button {
  background-color:var(--accent);
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  position: relative;
   top: 30px;
   text-transform: uppercase;
  letter-spacing: 1px;
   border: 1px solid var(--accent);
   border-radius: 4px;
}
.checkout_button_checkout button:hover {
  background-color: #ffffff;
  color: var(--accent);
}

/*  TABS STYLES   */


.new_oreder_tab {
  border: none;
  outline: none;
 width: 100px;
 height: 35px;
position: relative;
top: 10px;
  background-color: var(--accent);
  color: white;
 border-radius: 5px;
 
}
.new_oreder_tab:hover {
  background-color: white;
  color: var(--accent);
}
.right_side_header_icon {
  width:40px;
  height: 40px;
  background-color: var(--divider);
  display: grid;
  place-items: center;
 position: relative;
 top: 10%;
 left: 62%;
 border-radius: 50%;
 color: white;
}


.left_side_div {
   
  
   
}
.logo_titile {
    
    padding: 10px;
}
.logo_titile h6 {
padding-left: 50px;
font-weight: bold;
letter-spacing: 1px;
font-size: 21px;
font-family: "Pacifico", serif;
}

.logo_icon i {
    color: var(--accent);
}
.search_style {
   
    padding: 5px;
   
}
.search_style input {
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: var(--bgLight);
    border-radius: 6px;
   width: 250px;
   
}
.search_style input::placeholder {
    font-weight: bold;
}

.select_style {
    padding: 5px;
   
}
.select_style select  {
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
}
.select_style option {
   
}

.left_side_product_style {
   
}
.sidebar_style {
    display: flex;
    flex-wrap: wrap;
    margin-left: -13px;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(230, 228, 228);
  
}


.product_image_container {
    width: 57px;
    height: 55px;
   

}
.product_image_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 5px;
    margin-bottom: 5px;
}
.product_features {
    flex-grow: 2;
    position: relative;
   
    left: 10px;
   
   
}
.product_features h6 {
    position: absolute;
    top: 0px;
    left: -7px;

}
.product_features p {
    position: absolute;
    top: 19px;
    left: -5px;
    
    
}
.product_features p > span {
    color: var(--accent);
    display: inline-block;
  padding: 0 5px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.product_info {
    margin-left: 5px;
}
.product_info button {
    border: none;
    margin-top: 5px;
    outline: none;
    padding: 10px;
    width: 50px;
    height: 40px;
   margin-left: 10px;
   background-color: var(--accent);
   border-radius: 5px;
   margin-right: 20px;
    
}
.product_info button i {
    color: white;
}
aside {
  
}


 




/*
.nav-menu {
    background-color: #f8f9fa;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 12%;
    left: -100%; 
   transition: 850ms;
   
}
.nav-menu.active {
    left: 0;
    transition: 350ms;
}
.nav-Text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}
.nav-Text a {
    text-decoration: none;
}

*/
